img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  border-radius: 5px;
}

#article-content {
  border: 5px solid red;
  list-style-type: none;
  padding: 10px;
  border-radius: 5px;
}

#article-content > h2 {
  text-align: center;
}

button {
  margin: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#msg {
  text-align: center;
}
