.topic-container {
  margin: 5%;
}

#topics-list {
  justify-content: center;
}

.topic {
  padding: 10%;
  margin: 10%;
}

.topic-link {
  text-decoration: none;
  color: inherit;
}

.topic-link:hover .topic-title {
  color: #0d6efd;
  text-decoration: underline;
}

.topic-title {
  text-align: center;
  text-decoration: underline;
}
