#mainlist {
  list-style-type: none;
  border: 5px solid red;
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px;
}

#mainlist:hover {
  background-color: #ff474c;
}

img {
  width: 100px;
}

.article-link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
