#comment-heading {
  text-align: center;
  margin: 5%;
}

.success {
  color: green;
  text-align: center;
  font-weight: bold;
}

.error {
  color: red;
  text-align: center;
  font-weight: bold;
}

#comments-list {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 992px) {
  #comments-list {
    max-width: 70%;
  }
}
