#comment-heading {
  text-align: center;
  margin: 5%;
}

.success {
  color: green;
  text-align: center;
  font-weight: bold;
}

.error {
  color: red;
  text-align: center;
  font-weight: bold;
}

#total-comments {
  text-align: center;
}
